:root {
  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1134px;
}

/* Buttons */

.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.btn.dark {
  background: var(--dark-blue-color);
}

.btn.light {
  background: var(--orange-color);
}

.btn.enroll-icon::before {
  content: url("/assets/images/enrol-icon.svg");
  position: absolute;
  left: 32px;
  transform: translateY(10%);
}

.btn.enroll-icon {
  padding-left: 60px;
}

/* Header */
header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 36px;
  z-index: 100;
}

nav .logo {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

/* Hero Section */

.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hero-section .left h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 125%;
  margin-bottom: 0;
}

.hero-section .left p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  margin-bottom: 30px;
  width: 457px;
}

.hero-section .left {
  flex: 1;
}

.hero-section .right {
  align-self: flex-end;
}

.hero-section .right img {
  height: 520px;
  vertical-align: middle;
}

/* Achievement Cards */

.achievement-card {
  position: absolute;
}

.achievement-card .content {
  position: relative;
  border-radius: 24px;
  background: #fff;
  padding: 8px 32px;
  width: 206px;
  height: 90px;
  z-index: 10;
}

.achievement-card.students-enrolled {
  left: 47%;
  top: 344px;
}

.achievement-card h3 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 125%;
  color: var(--dark-blue-color);
  margin: 0;
  text-align: center;
}

.achievement-card p {
  color: var(--dark-blue-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin-top: 2px;
  text-align: center;
}

.achievement-card .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  top: 8px;
  left: 8px;
  z-index: 1;
}

.achievement-card.overall-rating {
  left: 43%;
  top: 565px;
  min-width: 200px;
}

.achievement-card .content div {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Testimonials Section */
section {
  margin-top: 100px;
}

h2 {
  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 120%;
  margin: 0;
}

h2.light {
  color: #fff;
}

section p {
  color: var(--dark-blue-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  margin: 12px 0;
}

.testimonials-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

.testimonials-section .mobile-btn {
  display: none;
}

.testimonials-section .testimonial-card {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card::before {
  content: "";
  width: 28px;
  position: absolute;
  height: 40px;
  background: var(--dark-blue-color);
  border-radius: 24px 24px 0 0;
  left: 82px;
  top: -40px;
}

.testimonials-section .testimonial-card:last-child::before {
  content: "";
  width: 28px;
  height: calc(100% + 90px);
  position: absolute;
  border-radius: 0 0 24px 24px;
  background: var(--dark-blue-color);
  left: 62px;
  top: -50px;
  z-index: -1;
}

.testimonials-section .testimonial-card .content {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 150%;
  padding: 24px 32px;
  border-radius: 24px;
  background: var(--light-blue-color);
}

.testimonials-section .testimonial-card:last-child .content {
  background: var(--orange-color);
}

.testimonials-section .testimonial-card .info h4 {
  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 120%;
  margin: 0;
}

.testimonials-section .testimonial-card .info {
  padding: 24px 32px;
  background: #fff;
  border-radius: 24px;
}

.testimonials-section .testimonial-card .info p.company {
  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.testimonials-section .testimonial-card img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 32px;
  top: 60px;
}

.testimonials-section .testimonial-card:last-child {
  transform: translateX(20px);
}

.testimonials-section .features {
  margin-bottom: 30px;
}
